* {
    font-family: arial;
  }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../images/background-ancient-calendar.png") no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: #362B37;
  color: #fbfbf9;
  padding: 15px 10px;
  text-align: center;
}


h2 {
  color: #fbfbf9;
  font-size: 2em;
  margin: 0;
}

main {
  padding: 20px;
  margin: 30px auto;
  flex: 1;
}

#dark-overlay > p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 600px;
  color: #fbfbf9;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.card {
  background-color: #dedcd3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
}

#dark-overlay {
  /* Adds a semi-transparent dark overlay for better contrast */
  margin: 0 auto; /* Centers horizontally */
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(54, 43, 55, 0.7);
}

/* MEDIA QUERIES */
/* Media query: laptops and larger */
@media screen and (min-width: 1024px) {
  #dark-overlay {
    width: 60%;
  }
}