@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: montserrat, sans-serif;
  }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../images/background-ancient-calendar.png") no-repeat center center fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: #362B37;
  color: #fbfbf9;
  padding: 15px 10px;
  text-align: center;
  display: flex;
  flex-direction: column; /* default for mobile */
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: lora, sans-serif;
}

h2 {
  color: #fbfbf9;
  font-size: 2em;
  margin: 0;
}

main {
  padding: 20px;
  margin: 30px auto;
  flex: 1;
}

#dark-overlay > p {
  font-size: 1.2em;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 600px;
  color: #fbfbf9;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.card {
  background-color: #dedcd3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#dark-overlay {
  /* Adds a semi-transparent dark overlay for better contrast */
  margin: 1rem auto 1.5rem; /* Centers horizontally, allows breathing space at top and bottom */
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(54, 43, 55, 0.7);
}

#logo {
  width: 75px;
  height: 60px;
  margin-bottom: 10px;
}

/* MEDIA QUERIES */

/* For tablets and larger: display logo and website title side by side */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  #logo {
    margin-bottom: 0;
    margin-right: 20px;
    width: 90px;
    height: 70px;
  }

  header h1 {
    margin: 0;
  }
}

/* For laptops and larger: Reduce width of the main section title */
@media screen and (min-width: 1024px) {
  #dark-overlay {
    width: 60%;
  }
}